<form name="login_register" class="fright" ng-show="!isLoggedIn" >
	<table class="table">
	<tr>
		<td>
			<label for="username">Email</label>
		</td>
		<td>
			<input name="username" type="email" ng-model="user.email" />
		</td>
	</tr>
	<tr>
		<td>
			<label for="password">Password</label>
		</td>
		<td>
			<input type="password" ng-model="user.password" />
		</td>
	</tr>
	<tr>
		<td>
			<div class="title button" ng-click="_login()">
				Login
			</div>
		</td>
		<td>
			<div class="title button" ng-click="register()">
				Register
			</div>
		</td>
	</tr>
	</table>
</form>
<div ng-show="isLoggedIn" class="title button" ng-click="logout()" style="margin: 2em;">
	Logout
</div>